.analog-clock {
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.analog-clock-handbase {
  position: absolute;
  color: rgb(0, 0, 0);
  inset: auto;
  z-index: 1;
}
.analog-clock-hour,
.analog-clock-minute,
.analog-clock-second {
  position: absolute;
  top: auto;
  bottom: auto;
  height: 2px;
  transform-origin: left;
}

.analog-clock-bg{
  position: absolute;
  inset: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
}
